@charset "utf-8";
*{margin:0; padding:0;}
ul,li{list-style: none;}
a{text-decoration: none; color:inherit; display:block;}
.cf:after{content:""; clear:both; display:block;}

#wrap{width:1200px; height: 1090px; margin:0 auto;}

/* ---------- header ---------- */
header{width:400px; height: 100px; padding:0 400px;}
nav{width:900px; height:40px;  padding:0 150px;}
.gnb>li{float:left; width:150px; line-height: 40px; text-align: center; background:rgb(126, 161, 255);}
/* .gnb li:hover{text-decoration: underline;} */
.sub{display:none; background:rgb(220, 237, 255); position: absolute; z-index: 999;}
.sub li{width:150px; line-height: 35px; text-align: center; }
.gnb li:hover>a{background:rgb(247, 253, 255);}


/* ---------- slide ---------- */
#slide{width:100%; height: 550px; position: relative;}

.fade1{width:1200px; height: 550px; position: absolute; z-index: 3; opacity: 0; animation: fade1 9s infinite;}
.fade2{width:1200px; height: 550px; position: absolute; z-index: 2; opacity: 0; animation: fade2 9s infinite;}
.fade3{width:1200px; height: 550px; position: absolute; z-index: 1; opacity: 0; animation: fade3 9s infinite;}

@keyframes fade1{
    0%{opacity:0;}
    5%{opacity:1;}
    28%{opacity:1;}
    33%{opacity:0;}
    100%{opacity:0;}
}
@keyframes fade2{
    0%{opacity: 0;}
    33%{opacity: 0;}
    38%{opacity: 1;}
    61%{opacity: 1;}
    66%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes fade3{
    0%{opacity: 0;}
    66%{opacity: 0;}
    71%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}

/* --------- content ---------- */
#content{width:1200px;}
.banner{width:1000px; height: 300px; padding:15px 100px; }
.shortcut_t{width:300px; height: 70px; padding:10px 450px 0 450px; }
.short_cut{width:1200px; height: 370px; text-align: center; display:flex; justify-content: space-around; 
    align-items: center; background:rgb(241, 241, 241);}
.short_cut li{position: relative; top:20px;}
.short_cut li:hover{opacity:.7; font-weight: bold;}

/* .notice{width:380px; height: 245px; padding:10px; float:left; position: relative; }
.tab{width:280px;  position: relative; left:50px;}
.tab li{float:left; width:140px; line-height: 60px; text-align: center;}
#t1 li{width:380px; line-height: 43px; background:rgb(224, 255, 252);}
#t1 li:hover{ text-decoration: underline;}
#t2{width:380px; height: 172px; background:rgb(224, 255, 252); }
#t2 img{width:100px; height: 100px;}
#t2 li{float:left; margin:10px; text-align: center; position: relative; top:15px; left:10px;}
#t2 li:hover{opacity: .7;}
.span1{position: relative; left:10px;}
.span2{position: relative; left:155px;}
.tab a.current{background:rgb(187, 236, 255);}
.tab_content{display:none; }
.tab_content.current{display:block;} */

.best_c{width:100%;   float:right; margin:0 0 50px 0;}
.gallery{display:flex; justify-content:space-around; flex-wrap:wrap;
       align-items:center; text-align: center; height: 171px; position: relative; top:2px;}
.gallery li{position: relative; left:5px; top:3px;}
.best{margin:20px 450px;}
.gallery li:hover{opacity:.7; text-decoration: underline;}

/* --------- footer --------- */
footer{background:#555; height:100px; }
.b_logo{padding:30px 0; width:200px; float:left; position: relative; left:15px;}
.copy{float:left; width:800px; display:flex; justify-content: space-around; align-items:center;}
.sns{width:200px; height: 50px; float:right; position: relative; top:25px; left:-15px;}

/* popup */
#popup{width:480px; height:380px; padding:10px; background:#fff; position:absolute; z-index: 1000;top:50%;left:50%;
    transform:translate(-50%,-50%); outline: 1px #222 solid; text-align:center; display:none;}
#popup h3{line-height:40px;}
#popup p{outline:1px #222 solid; width:480px; height:310px; }
#popup button{width:100px; line-height: 30px;}



/* ----- 상세 페이지 ----- */
#sangse{
    width:100%; height:1500px;
    position: absolute; z-index:999;
    top:0;
    background:rgba(17, 17, 17, 0.3);
    /* display:flex;
    justify-content: center; */
    display:none;
}
#sangse ul{
    width:900px;
    margin-top:700px;
    margin-left:calc(50% - 450px);
}
#sangse ul img{
    width:900px;
    display:block;
}
.s_move{
    width:1040px;
    display:flex;
    justify-content: space-between;
    margin-left:calc(50% - 520px);
    margin-top:-340px;
    font-size:4rem;
    font-weight: bold;
    color:#ccc;
}
.left, .right{
    width:60px; line-height:60px;
    border-radius:50%;
    background: #fff;
    cursor: pointer;
    text-align: center;
}
.s_close{
    cursor: pointer;
    width:60px; line-height: 60px;
    text-align: center;
    background:#fff;
    position: absolute;
    left:88%;
    top:700px;
    font-size:1.5rem;
}
.s_close:hover{
    background:#ddd;
}
.left:hover{background:#ddd; color:#111;}
.right:hover{background:#ddd; color:#111;}
